<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeMentor AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="onboarding-page">

<div class="onboarding-container">

    <div class="logo">
        💻
    </div>

    <h1>CodeMentor AI</h1>

    <p class="subtitle">
        Learn Python with your personal AI Coding Mentor
    </p>

    <form action="/start" method="POST">

        <label>Name</label>
        <input
            type="text"
            name="name"
            placeholder="Enter your name"
            required
        >

        <label>Experience Level</label>

        <select name="level">

            <option>Beginner</option>
            <option>Intermediate</option>
            <option>Advanced</option>

        </select>

        <label>Current Topic</label>

        <input
            type="text"
            name="topic"
            placeholder="Example: Flask"
        >

        <label>Learning Goal</label>

        <input
            type="text"
            name="goal"
            placeholder="Become Backend Developer"
        >

        <button type="submit">
            🚀 Start Learning
        </button>

    </form>

</div>

</body>
</html>